<!-- Navbar -->
<nav class="navbar navbar-expand-md text-dark fixed-top" style="background-color: rgb(23, 4, 75);">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand text-white"  href="https://thebuddhainu.com/">
      <h6 id="yellow">
        <img
          src="https://thebuddhainu.s3.amazonaws.com/logo.png"
          alt="logo"
          width="50"
          style="border-radius: 50%"
        />
      </h6>
        <a
          class="nav-link text-white"
          routerLink="home"
          (click)="basicNavbar.toggle()"
          ><h5 id="yellow"  style="font-size: 1.5em">The BuddhaInu-Finanace</h5></a
        >
      <!-- <h6 id="yellow">The BuddhaInu-Finanace</h6> -->
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler text-white"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars" id="yellowHamburger"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="mint"
            (click)="basicNavbar.toggle()"
            ><h5 id="yellow" style="font-size: 1.5em">Mint</h5></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="manage"
            (click)="basicNavbar.toggle()"
            ><h5 id="yellow"  style="font-size: 1.5em">Manage</h5></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="nft"
            (click)="basicNavbar.toggle()"
            ><h5 id="yellow" style="font-size: 1.5em">NFT's</h5></a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="team"
            (click)="basicNavbar.toggle()"
            ><h5 id="yellow" style="font-size: 1.5em">Team</h5></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="roadmap"
            (click)="basicNavbar.toggle()"
            ><h5 id="yellow" style="font-size: 1.5em">RoadMap</h5></a
          >
        </li> -->
      </ul>
    </div>
  </div>
  <!-- <button
  style="margin-right: 25px;"
  *ngIf="this.isConnected == false"

  class="favorite styled"
  type="button"
  (click)="tryAndConnect(true)"

>
  Connect 
</button>
<button
style="margin-right: 25px;"
*ngIf="this.isConnected == true"

  class="favorite styled"
  type="button"
  (click)="tryAndConnect(false)"

>
  Disconnect 
</button> -->
</nav>
