<!-- Navbar -->
<nav class="navbar navbar-expand-md text-dark bg-dark fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand text-white" routerLink="home">
      <h6 id="yellow">
        <img
          src="../../assets/binanceSymbol.png"
          alt="logo"
          width="50"
          style="border-radius: 50%"
        />
      </h6>
      &nbsp;
      <h6 id="yellow">Scott Coin</h6>
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler text-white"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars" id="yellowHamburger"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="mint"
            (click)="basicNavbar.toggle()"
            ><h5 id="yellow">Mint</h5></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="manage"
            (click)="basicNavbar.toggle()"
            ><h5 id="yellow">Manage</h5></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="team"
            (click)="basicNavbar.toggle()"
            ><h5 id="yellow">Team</h5></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="roadmap"
            (click)="basicNavbar.toggle()"
            ><h5 id="yellow">RoadMap</h5></a
          >
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
