<div class="center-div">
  <div
    class="card"
    style="
      background-color: black;
      border: 4mm ridge #f0b90b;
      width: 65%;
      min-width: 400px;
    "
  >
    <div class="center-img">
      <br />
      <img
        src="../../assets/My_Coin.gif"
        alt="unfold"
        height="33%"
        width="33%"
        style="border-radius: 50%"
      />
    </div>
    <div class="card-body">
      <h3 class="card-text" style="font-size: 2em">
        <u> Mint {{ contractName }} </u>
      </h3>
      <br />
      <div *ngIf="!this.isLoading">
        <br />
        <p style="font-size: 1.25em">
          Token Address: {{ contractAddress }}
          <br />

          Symbol : {{ contractSymbol }}
          <br />
          Minted: {{ contractMinted }}
          <br />
          Total Supply : {{ contractTotalSupply }}
          <br />
          Current Price : {{ contractPrice }}
        </p>

        <div *ngIf="this.userAddress != ''">
          <p>
            &nbsp;Your address: {{ userAddress }}
            <br />
            Your {{ contractSymbol }} : {{ tokensOwned }}
            <br />
            Staked {{ contractSymbol }} : {{ tokensStaked }}
          </p>
          <div
            class="form-outline"
            id="mintInput"
            style="max-width: 60%; margin-left: auto; margin-right: auto"
          >
            <input
              [ngModel]="numToBuy"
              type="number"
              (ngModelChange)="updatePrice($event)"
              min="0"
              max="100000000000"
              step="1"
              onfocus="this.previousValue = this.value"
              onkeydown="if(event.key==='.'){event.preventDefault();} this.previousValue =this.value"
              class="form-control"
              placeholder="Amount To Buy"
            />
          </div>
          <br />
          <p>
            Total price with out gas fees for {{ numToBuy }}
            {{ contractSymbol }} is {{ totalPrice }} BNB
          </p>

          <br />
          <div class="center-div">
            <button
              *ngIf="this.numToBuy == '0' || this.numToBuy == 'null'"
              class="favorite styledDisabled"
              disabled
            >
              Disabled
            </button>
            <button
              *ngIf="this.numToBuy != '0' && this.numToBuy != 'null'"
              class="favorite styled"
              type="submit"
              (click)="buy()"
            >
              Mint
            </button>
          </div>
          <div *ngIf="this.purchaseString">
            <br />
            <p>{{ purchaseString }}</p>
          </div>
        </div>
        <div *ngIf="this.userAddress == ''">
          <p style="color: red">
            MetaMask Not Connected. Please connect to BSC test net
          </p>
        </div>
        <div *ngIf="this.error">
          <p style="color: red">Found Error : {{ error }}</p>
        </div>
      </div>
      <div *ngIf="this.isLoading">
        <br />
        <div
          class="spinner-grow"
          style="width: 10em; height: 10em; color: #f0b90b"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <br />
        <br />
        <br />

        <p style="font-size: 1.25em; color: #f0b90b">Loading...</p>
        <br />
      </div>
    </div>
  </div>
</div>
