<div class="center-div">
  <div class="card main">
    <div class="card-body">
      <div class="center-img">
        <img
          src="https://thebuddhainu.s3.amazonaws.com/handsUp.png"
          alt="Buddha2"
          height="150vh"
          width="150vw"
          style="border-radius: 5%"
        />
      </div>
      <br>
      <h3 class="card-text">
        <u> Welcome to The BuddhaInu-Fiance </u>
      </h3>
      <a
        class="text-white"
        href="https://thebuddhainu.com/"

        > <u>Powered by The BuddhaInu</u></a
      >      <br>

      <!-- <div class="center-img">
        <img
          src="assets/mainBuddha.png"
          alt="BuddhaInu"
          height="200vh"
          width="200vw"
          style="border-radius: 50%"
        />
      </div> -->
      <br>      <br>

      <h2 class="card-text" >
        <u> SIMON ICO</u>
      </h2>
      <img
      src="https://thebuddhainu.s3.amazonaws.com/coin.png"
      alt="BuddhaInu"
      height="200vh"
      width="200vw"
      style="border-radius: 50%"
    />
      <p>
        The SIMON token is the token of The Buddha Inu Ecosystem.<br />
        SIMON will be at the center of transacting and benefiting from new
        functionality, as more utility, and functionality is rolled out to
        deliver value to the community.<br />
        For our upcoming collection launches the SIMON tokens will be giving
        access to exclusive perks including NFTs and discounts.<br />
        The ONLY way to earn SIMON is by purchaing in ICO, staking SIMON, and
        staking a Buddha Inu NFT.
      <!-- <h5 class="card-text">
        <u> End Goal</u>
      </h5> -->
      <!-- <p>
        The goal for this economy is to raise capital to create a P2E game where
        The BuddhaInu  NFTs will serve as avatars in the game.<br />
        With this capital we plan to invest in upcoming technologies in
        metaverse lands such as NFT Worlds, The Sandbox, etc...<br />
        This is not limited to vitural assets but also to real world assets such
        as investing in properties and businesses where capital will be
        reinvested into the projects and returned as dividends to holders.<br />
        SIMON will be needed to enter our metaverse and play the game. Where
        The BuddhaInu  NFT holders will represent a fraction of game ownerhsip.
      </p> -->
      <!-- <div class="center-img">
        <img
          src="assets/tokenomics.PNG"
          alt="unfold"
          height="250vh"
          width="400vw"
          style="border-radius: 5%"
        />
      </div> -->
        The ICO will be in tiered systems with price starting lower and
        increasing as time goes on untill sold out.
      </p>
      <br>
      <h5 class="card-text" >
        <u> Staking SIMON</u>
      </h5>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col">    
            <img
            src="https://thebuddhainu.s3.amazonaws.com/vault.jpg"
            alt="BuddhaInu"
              height="250vh"
              width="400vw"
              style="border-radius: 5%"

            />      
          
          </div>
          </div>

      </div>
      <p>
        Once the ICO is over the only way to continue to purchase SIMON will be
        on a DEX or by staking. <br />
        Currently staking is set to %5.09 a year. (Which is equivalent to %5 a
        year compounded quarterly.)<br />
        This is based of a year being 31,536,000 seconds not including leap
        years.
      </p>
<br><br>
      <h5 class="card-text" >
        <u> Staking The BuddhaInu NFT's </u>
      </h5>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col">    
            <img
            src="https://thebuddhainu.s3.amazonaws.com/MONK4.png"
            alt="BuddhaInu"
              height="150vh"
              width="150vw"
            />
            <img
            src="https://thebuddhainu.s3.amazonaws.com/MONK1.png"
            alt="BuddhaInu"
            height="150vh"
            width="150vw"
          />
          <img
          src="https://thebuddhainu.s3.amazonaws.com/MONK5.png"
          alt="BuddhaInu"
            height="150vh"
            width="150vw"
          />
          </div>
        </div>
      <P>
        Once released you will be able to purchase The BuddhaInu  NFTs with SIMON at a
        discounted price or at a higher tiered price using ETH.<br />
        Staking a The BuddhaInu  NFT will reward you 24 The BuddhaInu  a day for 10 years.</P
      >
      <h5 class="card-text" >
        <u> Airdrops</u>
      </h5>
      <div class="center-img">
        <img
          src="https://thebuddhainu.s3.amazonaws.com/coin.gif"
          alt="coin"
          height="150vh"
          width="150vw"
          style="border-radius: 5%"
        />
      </div>
      <p>
        We plan on airdopping out benefits to our holders along with giveaways
        and prizes.
      </p>

      <h5 class="card-text" >
        <u> Disclaimer</u>
      </h5>
      <p>
        The information provided on SIMON Coin website does not constitute
        investment advice, financial advice, trading advice, or any other sort
        of advice and you should not treat any of the website’s content as such.
        SIMON Coin team does not recommend that any cryptocurrency should be
        bought, sold, or held by you. Do conduct your own due diligence and
        consult your financial advisor before making any investment decisions.
        By purchasing SIMON, you agree that you are not purchasing a security or
        investment and you agree to hold the team harmless and not liable for
        any losses or taxes you may incur. You also agree that the team is
        presenting the token “as is” and is not required to provide any support
        or services. You should have no expectation of any form from SIMON Coin
        and its team. Although SIMON is a community driven token for social
        networking and not a registered digital currency, the team strongly
        recommends that citizens in areas with government bans on Crypto do not
        purchase it because the team cannot ensure compliance with your
        territory’s regulations. Always make sure that you are in compliance
        with your local laws and regulations before you make any purchase.
      </p>
    </div>
  </div>
</div>
