<div class="center-div">
  <div class="card main">
    <div class="center-img">
      <br />
      <img
        src="../../../assets/bi_coin.gif"
        alt="unfold"
        height="33%"
        width="33%"
        style="border-radius: 50%"
      />
    </div>
    <div class="card-body">
      <h3 class="card-text" style="font-size: 2em">
        <u> Welcome to Project Buddah Inu </u>
      </h3>
      <br />

      <p>Blessed be the BINU.</p>
      <div class="row">
        <div class="col-md">
          <button class="favorite styled" type="button" (click)="mint()">
            Mint
          </button>
        </div>
        <div class="col-md">
          <button class="favorite styled" type="button" (click)="manage()">
            Manage
          </button>
        </div>

        <div class="col-md">
          <button class="favorite styled" (click)="nft()">Nft's</button>
        </div>

        <div class="col-md">
          <button class="favorite styled" type="button" (click)="team()">
            Team
          </button>
        </div>
        <div class="col-md">
          <button class="favorite styled" type="button" (click)="roadmap()">
            Roadmap
          </button>
        </div>
      </div>
      <br />
      <p>
        The $BINU token is the token of the Buddah Inu Ecosystem.<br /><br />
        $BINU will be at the center of transacting and benefiting from new
        functionality, as more utility, and functionality is rolled out to
        deliver value to the community.<br /><br />
        For our upcoming collection launches the $BINU tokens will be giving
        access to exclusive perks including NFTs and discounts.<br /><br />
        The ONLY way to earn $BINU is by purchaing in ICO, staking $BINU, and
        staking a Genses Buddah Inu NFT.
      </p>
      <h5 class="card-text" style="font-size: 2em">
        <u> End Goal</u>
      </h5>
      <p>
        The goal for this economy is to raise capital to create a P2E game where
        BINU NFTs will serve as avatars in the game.<br />
        With this capital we plan to invest in upcoming technologies in
        metaverse lands such as NFT Worlds, The Sandbox, etc...<br />
        This is not limited to vitural assets but also to real world assets such
        as investing in properties and businesses where capital will be
        reinvested into the projects and returned as dividends to holders.<br />
        $BINU will be needed to enter our metaverse and play the game. Where
        BINU NFT holders will represent a fraction of game ownerhsip.
      </p>
      <div class="center-img">
        <img
          src="../../../assets/tokenomics.PNG"
          alt="unfold"
          height="33%"
          width="33%"
          style="border-radius: 5%"
        />
      </div>
      <br />
      <h5 class="card-text" style="font-size: 2em">
        <u> Initial Coin Offering</u>
      </h5>
      <p>
        The ICO will be in tiered systems with price starting lower and
        increasing as time goes on untill we are sold out.
      </p>
      <h5 class="card-text" style="font-size: 2em">
        <u> Staking $BINU</u>
      </h5>
      <p>
        Once the ICO is over the only way to continue to purchase $BINU will be
        on a DEX or by staking. <br />
        Currently staking is set to %5.09 a year. (Which is equivalent to %5 a
        year compounded quarterly.)<br />
        This is based of a year being 31,536,000 seconds not including leap
        years.
      </p>

      <h5 class="card-text" style="font-size: 2em">
        <u> Staking BINU NFT's </u>
      </h5>
      <P>
        Once released you will be able to purchase BINU NFTs with $BINU at a
        discounted price or at a higher tiered price using BNB.<br />
        Staking a BINU NFT will reward you 24 BINU a day for 10 years.</P
      >
      <h5 class="card-text" style="font-size: 2em">
        <u> Airdrops</u>
      </h5>
      <p>
        In the off chance that more $BINU is needed. (A sign of our thriving
        economy.)<br />
        A snapshot will be taken and additional $BINU will be created and
        airdropped to holders.<br />
        We plan on airdopping out benefits to our holders along with giveaways
        and prizes.
      </p>
    </div>
  </div>
</div>
