<!-- <div class="center-div">
  <div class="card main">
    <div class="card-body">
      <h3 class="card-text">
        <u> Welcome to Project Buddha Inu </u>
      </h3>

      <p>Blessed be the Buddha.</p>
      <div class="center-img">
        <img
          src="assets/mainBuddha.png"
          alt="BuddhaInu"
          height="200vh"
          width="200vw"
          style="border-radius: 50%"
        />
      </div>
      <p>
        The $TBI token is the token of the Buddha Inu Ecosystem.<br />
        $TBI will be at the center of transacting and benefiting from new
        functionality, as more utility, and functionality is rolled out to
        deliver value to the community.<br />
        For our upcoming collection launches the $TBI tokens will be giving
        access to exclusive perks including NFTs and discounts.<br />
        The ONLY way to earn $TBI is by purchaing in ICO, staking $TBI, and
        staking a Buddha Inu NFT.
      </p>
      <h5 class="card-text">
        <u> End Goal</u>
      </h5>
      <p>
        The goal for this economy is to raise capital to create a P2E game where
        TBI NFTs will serve as avatars in the game.<br />
        With this capital we plan to invest in upcoming technologies in
        metaverse lands such as NFT Worlds, The Sandbox, etc...<br />
        This is not limited to vitural assets but also to real world assets such
        as investing in properties and businesses where capital will be
        reinvested into the projects and returned as dividends to holders.<br />
        $TBI will be needed to enter our metaverse and play the game. Where
        TBI NFT holders will represent a fraction of game ownerhsip.
      </p>
      <div class="center-img">
        <img
          src="assets/tokenomics.PNG"
          alt="unfold"
          height="250vh"
          width="400vw"
          style="border-radius: 5%"
        />
      </div>
      <br />
      <h5 class="card-text" >
        <u> Initial Coin Offering</u>
      </h5>
      <p>
        The ICO will be in tiered systems with price starting lower and
        increasing as time goes on untill we are sold out.
      </p>
      <h5 class="card-text" >
        <u> Staking $TBI</u>
      </h5>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col">    
            <img
            src="assets/vault.jpg"
            alt="BuddhaInu"
              height="250vh"
              width="400vw"
              style="border-radius: 5%"

            />      
          
          </div>
          </div>

      </div>
      <p>
        Once the ICO is over the only way to continue to purchase $TBI will be
        on a DEX or by staking. <br />
        Currently staking is set to %5.09 a year. (Which is equivalent to %5 a
        year compounded quarterly.)<br />
        This is based of a year being 31,536,000 seconds not including leap
        years.
      </p>

      <h5 class="card-text" >
        <u> Staking TBI NFT's </u>
      </h5>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col">    
            <img
            src="assets/MONK4.png"
            alt="BuddhaInu"
              height="150vh"
              width="150vw"
            />
            <img
            src="assets/MONK1.png"
            alt="BuddhaInu"
            height="150vh"
            width="150vw"
          />
          <img
          src="assets/MONK5.png"
          alt="BuddhaInu"
            height="150vh"
            width="150vw"
          />
          </div>
        </div>
      <P>
        Once released you will be able to purchase TBI NFTs with $TBI at a
        discounted price or at a higher tiered price using BNB.<br />
        Staking a TBI NFT will reward you 24 TBI a day for 10 years.</P
      >
      <h5 class="card-text" >
        <u> Airdrops</u>
      </h5>
      <div class="center-img">
        <img
          src="assets/bi_coin.gif"
          alt="coin"
          height="150vh"
          width="150vw"
          style="border-radius: 5%"
        />
      </div>
      <p>
        In the off chance that more $TBI is needed. (A sign of our thriving
        economy.)<br />
        A snapshot will be taken and additional $TBI will be created and
        airdropped to holders.<br />
        We plan on airdopping out benefits to our holders along with giveaways
        and prizes.
      </p>

      <h5 class="card-text" >
        <u> Disclaimer</u>
        <div class="center-img">
          <img
            src="assets/BUDHA2.png"
            alt="Buddha2"
            height="150vh"
            width="150vw"
            style="border-radius: 5%"
          />
        </div>
      </h5>
      <p>
        The information provided on $TBI Coin website does not constitute
        investment advice, financial advice, trading advice, or any other sort
        of advice and you should not treat any of the website’s content as such.
        $TBI Coin team does not recommend that any cryptocurrency should be
        bought, sold, or held by you. Do conduct your own due diligence and
        consult your financial advisor before making any investment decisions.
        By purchasing $TBI, you agree that you are not purchasing a security or
        investment and you agree to hold the team harmless and not liable for
        any losses or taxes you may incur. You also agree that the team is
        presenting the token “as is” and is not required to provide any support
        or services. You should have no expectation of any form from $TBI Coin
        and its team. Although $TBI is a community driven token for social
        networking and not a registered digital currency, the team strongly
        recommends that citizens in areas with government bans on Crypto do not
        purchase it because the team cannot ensure compliance with your
        territory’s regulations. Always make sure that you are in compliance
        with your local laws and regulations before you make any purchase.
      </p>
    </div>
  </div>
</div> -->



<div class="center-div">
  <div class="card main">
    <div class="center-img">
    </div>

      <h3 class="card-text" style="font-size: 2em">
        <br> 

        <u> Mint SIMON! </u>
        <br><br>
      </h3>
      <br> <br>
      <img
        src="https://thebuddhainu.s3.amazonaws.com/coin.png"
        alt="BuddhaInu"
        height="200vh"
        width="200vw"
        style="border-radius: 50%"
      /><br> <br>



      <div *ngIf="this.isLoading">
        <br />
        <div
          class="spinner-grow"
          style="width: 10em; height: 10em; color: #f0b90b"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <br />
        <br />
        <br />

        <p style="font-size: 1.25em; color: #f0b90b">Loading...</p>
        <br />
      </div>


      <div *ngIf="!this.isLoading">
        <div class="card-body">

        <p style="font-size: 1.25em">
          Token Address: {{ contractAddress }}
        </p>

         
            <p style="font-size: 1.25em">

          Symbol : {{ contractSymbol }}
          <br />
          Minted: {{ contractMinted }}
          <br />
          Total Supply : {{ contractTotalSupply }}
          <br />
          Current Price : {{ contractPrice }} ETH
          <br />
          <br />

        </p>

        <div *ngIf="this.userAddress != ''">
          <p>
            &nbsp;Your address: {{ userAddress }}
            <br />
            Your {{ contractSymbol }} : {{ tokensOwned }}
            <br />
          </p>
          <div
            class="form-outline"
            id="mintInput"
            style="max-width: 60%; margin-left: auto; margin-right: auto"
          >
            <input
              [ngModel]="numToBuy"
              type="number"
              (ngModelChange)="updatePrice($event)"
              min="0"
              max="100000000000"
              step="1"
              onfocus="this.previousValue = this.value"
              onkeydown="if(event.key==='.'){event.preventDefault();} this.previousValue =this.value"
              class="form-control"
              placeholder="Amount To Buy"
            />
          </div>
          <br />
          <p>
            Total price with out gas fees for {{ numToBuy }}
            {{ contractSymbol }} is {{ totalPrice }} ETH
          </p>

          <br />
          <div class="center-div">
            <button
              *ngIf="this.numToBuy == '0' || this.numToBuy == 'null'"
              class="favorite styledDisabled"
              disabled
            >
              Disabled
            </button>
            
            <button
              *ngIf="this.numToBuy != '0' && this.numToBuy != 'null'"
              class="favorite styled"
              type="submit"
              (click)="buy()"
            >
              Mint
            </button>

            <br><br>   
            &nbsp;
            &nbsp;
            &nbsp;
            <button
            class="favorite styled"
            type="submit"
            (click)="getContent()"
    
          >Refresh!
          </button>

         


          </div>
          <br>
          <br>
          <img
          src="https://thebuddhainu.s3.amazonaws.com/MONK1.png"
        alt="BuddhaInu"
        height="200vh"
        width="200vw"
        style="border-radius: 50%"
      />        
      <!--  -->
      <!-- <img -->
      <!-- src="https://thebuddhainu.s3.amazonaws.com/MONK4.png" -->
    <!-- alt="BuddhaInu" -->
    <!-- height="200vh" -->
    <!-- width="200vw" -->
    <!-- style="border-radius: 50%" -->
  <!-- /> -->
   
  
  <img
  src="https://thebuddhainu.s3.amazonaws.com/MONK5.png"
     alt="BuddhaInu"
      height="200vh"
       width="200vw"
           style="border-radius: 50%"
/>
          <div *ngIf="this.purchaseString">
            <br />
            <p>{{ purchaseString }}</p>
          </div>
        </div>
        <div *ngIf="this.userAddress == ''">
          <p style="color: yellow">
            MetaMask Not Connected.<br/>
            Please verify you are connected to MAIN ETH NET.
            <br />
          </p>
          <br>
          <button
          class="favorite styled"
          type="submit"
          (click)="getContent()"
  
        >Refresh!
        </button>
        <br>          <br>

        <br>
          <img
          src="https://thebuddhainu.s3.amazonaws.com/MONK1.png"
        alt="BuddhaInu"
        height="200vh"
        width="200vw"
        style="border-radius: 50%"
      />        
      
      <!-- <img -->
      <!-- src="https://thebuddhainu.s3.amazonaws.com/MONK4.png" -->
    <!-- alt="BuddhaInu" -->
    <!-- height="200vh" -->
    <!-- width="200vw" -->
    <!-- style="border-radius: 50%" -->
  <!-- /> -->
   
  
  <img
  src="https://thebuddhainu.s3.amazonaws.com/MONK5.png"
     alt="BuddhaInu"
      height="200vh"
       width="200vw"
           style="border-radius: 50%"
/>
      <br>
      <br>
          



        </div>

      <!-- <div *ngIf="this.error">
          <p style="color: red">Found Error : {{ error }}</p>
        </div> -->
      </div>

    </div>
  </div>
</div>

