/* You can add global styles to this file, and also import other style files */
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
body {
  background-image: url("./assets/bsc1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.center-div {
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.styled {
  max-width: 200px;

  min-width: 150px;
  margin-bottom: 4px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #f0b90b;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(61, 57, 2);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px #f0b90b, inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styledDisabled {
  max-width: 200px;

  min-width: 150px;
  margin-bottom: 4px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #f0b90b;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(141, 139, 110);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px #f0b90b, inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: #f0b90b;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@font-face {
  font-family: EncodeSansCondensedBold;
  src: url("./assets/encode-sans-font/EncodeSansCondensedBold-r7LO.ttf");
}

@font-face {
  font-family: RapidFinger101;
  src: url("./assets/cooper-hewitt-font/CooperhewittBold-K4BW.ttf");
}

h2,
h3,
h4,
h5,
h6 {
  color: #f0b90b;
  font-family: RapidFinger101;
  font-size: 1em;
  word-wrap: break-word;
  word-break: break-all;
}

button {
  font-family: RapidFinger101;
}

p {
  font-family: EncodeSansCondensedBold;
  font-size: 1em;
  color: #f0b90b;
  word-wrap: break-word;
  word-break: break-all;
}

#list {
  background-color: black;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  left: auto;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

#yellow {
  color: #f0b90b;
}

#yellow:hover {
  color: #a07c07;
  text-decoration: underline;
}

#yellowHamburger {
  color: #f0b90b;
}

#yellowHamburger:hover {
  color: #a07c07;
}
#teamCard {
  width: 95%;
  margin-bottom: 25px;
  min-width: 275px;
  max-width: 310px;
  background-color: rgba(54, 45, 3, 0.753);
  border: 2mm ridge #f0b90b;
}
#manageCard {
  width: 95%;
  margin-bottom: 25px;
  min-width: 275px;
  max-width: 310px;
  background-color: rgba(54, 45, 3, 0.753);
  border: 2mm ridge #f0b90b;
}
#mintInput {
  background-color: rgba(54, 45, 3, 0.753);
}
