<div class="center-div">
  <div
    class="card"
    style="
      background-color: black;
      border: 4mm ridge #f0b90b;
      width: 65%;
      min-width: 400px;
    "
  >
    <div class="center-img">
      <br />
      <img
        src="../../assets/binanceSymbol.png"
        alt="unfold"
        height="33%"
        width="33%"
        style="border-radius: 50%"
      />
    </div>
    <h3 style="font-size: 2em">
      <u> Meet the Team!</u>
    </h3>

    <p>Our professional team has been hard at work developing this project.</p>
    <br />
    <!-- <div class="container" style="background-color: bisque"> -->
    <div class="row">
      <div class="col" style="align-items: center" text-center>
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>BRIAN</u></h4>
            <img src="assets/ba1.png" width="150" height="150" />
            <br /><br />
            <h4><u>CEO</u></h4>

            <p>
              Real estate investor, Defi expert, and small busines owner. Brian
              enjoys being an artist in his free time and is striving to take
              this project to the moon.
            </p>
            <br /><br />

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <p>Discord ID : Brian#7151</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>ERIC</u></h4>

            <img src="assets/ba2.png" width="150" height="150" />
            <br /><br />
            <h4><u>CTO</u></h4>

            <p>
              Our Defi Expert with experience in traditional software
              development as well as web3. Masters in cybersecurity and current
              PhD canidate. CISSP holder and lover of all things blockchain.
            </p>
            <br />
            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <p>Discord ID : WEBBRICO#7151</p>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>BRIANS WIFE</u></h4>

            <img src="../../assets/da1.png" width="150" height="150" />
            <br /><br />
            <h4><u>CFO</u></h4>

            <p>
              Internal business function, balance sheet, oversight internal &
              external financial operations. Traditional financial advisor
              w/team of business attorneys tax professionals and various other
              consultants.
            </p>
            <br />
            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <p>Discord ID : WIFE#9084</p>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
